body{
    background-image: url('/static/main/img/1650914983_7-vsegda-pomnim-com-p-gori-kirgizstana-foto-7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.colo{
    background-color:red;
}

.logotip{
    background-color: transparent;
    border: none;
}