{% extends 'users/base_page.html' %}
{% load static %}

{% block content %}
<html>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Создание события</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form.media }}
    <button type="submit" name="create">Создать</button>
  </form>
    </div>
    <div class="col-md-4">
      <ul>
      {% for event in trainings %}
        <li>
          <p><a href="{% url 'delete_document' event.id %}">{{ event.training_title }}</a></p>
        </li>
      {% endfor %}
    </ul>
    </div>
  </div>
</div>
</body>
</html>
{% endblock %}
