{% extends 'users/base_page.html'%}
{% block content %}
<body>
<div class="container">
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="create">Создать</button>
</form>
<hr class="my-5">
<h2>Редактирование события</h2>
  <ul>
    {% for t in trainings %}
      <li>
        <h3>{{ t.training_title }}</h3>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="training_id" value="{{ t.id }}">
          {{ form.as_p }}
          <button type="submit" name="edit">Сохранить</button>
        </form>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="training_id" value="{{ t.id }}">
          <button type="submit" name="delete">Удалить</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  </ul>
</div>
</body>
</html>
{% endblock %}